In [1]:
import numpy as np 
import pandas as pd
import requests
import xlsxwriter
import math

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [3]:
from sec import IEX_CLOUD_API_TOKEN
print (IEX_CLOUD_API_TOKEN)

pk_9a92a8d1eab441dea7c7e8a25534e765

In [4]:
symbol = 'AAPL'
api_url = f'https://cloud.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'avgTotalVolume': 56490765,
 'calculationPrice': 'iexlasttrade',
 'change': -1.68,
 'changePercent': -0.00968,
 'close': None,
 'closeSource': 'official',
 'closeTime': None,
 'companyName': 'Apple Inc',
 'currency': 'USD',
 'delayedPrice': None,
 'delayedPriceTime': None,
 'extendedChange': None,
 'extendedChangePercent': None,
 'extendedPrice': None,
 'extendedPriceTime': None,
 'high': None,
 'highSource': None,
 'highTime': None,
 'iexAskPrice': 0,
 'iexAskSize': 0,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexClose': 171.82,
 'iexCloseTime': 1683662399009,
 'iexLastUpdated': 1683662399009,
 'iexMarketPercent': 0.011346889931603736,
 'iexOpen': 173.08,
 'iexOpenTime': 1683639000004,
 'iexRealtimePrice': 171.82,
 'iexRealtimeSize': 1,
 'iexVolume': 513868,
 'lastTradeTime': 1683662399977,
 'latestPrice': 171.82,
 'latestSource': 'IEX Last Trade',
 'latestTime': 'May 9, 2023',
 'latestUpdate': 1683662399009,
 'latestVolume': None,
 'low': None,
 'lowSource': None,
 'lowTime': None,
 'marketCap': 2702505577640,
 'oddLotDelayedPrice': None,
 'oddLotDelayedPriceTime': None,
 'open': None,
 'openTime': None,
 'openSource': 'official',
 'peRatio': 29.22,
 'previousClose': 173.5,
 'previousVolume': 55962793,
 'primaryExchange': 'NASDAQ',
 'symbol': 'AAPL',
 'volume': None,
 'week52High': 175.37,
 'week52Low': 123.98,
 'ytdChange': 0.32769346018982215,
 'isUSMarketOpen': False}

In [5]:
latest_price = data['iexRealtimePrice']
market_cap = data['marketCap']
print(latest_price)
market_cap

171.82

2702505577640

In [6]:
my_columns = ['Ticker', 'Stock Price','Market Capitalization', 'Number Of Shares to Buy']
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number Of Shares to Buy]
Index: []

In [7]:
final_dataframe.append(
    pd.Series(
        [
            symbol,
            data['iexRealtimePrice'],
            data['marketCap'],
            'N/A'
        ],
    index = my_columns
    ),
ignore_index = True
)

  Ticker  Stock Price Market Capitalization Number Of Shares to Buy
0   AAPL       171.82         2702505577640                     N/A

In [10]:
final_dataframe = pd.DataFrame(columns = my_columns)
for stock in stocks['Ticker'][:50]:
    api_url = f'https://cloud.iexapis.com/stable/stock/{stock}/quote?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json()
    final_dataframe = final_dataframe.append(
        pd.Series(
            [
                stock,
                data['iexRealtimePrice'],
                data['marketCap'],
                'N/A'
            ],
        index = my_columns
        ),
        ignore_index = True
        )

In [11]:
final_dataframe

   Ticker Stock Price Market Capitalization Number Of Shares to Buy
0       A      127.38           37657630980                     N/A
1     AAL      14.465            9443656178                     N/A
2     AAP       125.5            7440044991                     N/A
3    AAPL      171.82         2702505577640                     N/A
4    ABBV      146.81          259050653714                     N/A
5     ABC      168.32           34064905173                     N/A
6    ABMD        None           17180642928                     N/A
7     ABT      110.25          191718884590                     N/A
8     ACN      263.45          174580708976                     N/A
9    ADBE      342.76          157224012000                     N/A
10    ADI      179.59           90845960680                     N/A
11    ADM       75.04           40858503971                     N/A
12    ADP      213.65           88263677460                     N/A
13   ADSK       192.9           41431640700                     N/A
14    AEE       88.83           23330225492                     N/A
15    AEP       91.13           93657231923                     N/A
16    AES      22.275           14906106395                     N/A
17    AFL       67.44           40736984003                     N/A
18    AIG      53.085           38431258387                     N/A
19    AIV        8.49            1261751682                     N/A
20    AIZ      130.54            6939999581                     N/A
21    AJG      216.18           46169463334                     N/A
22   AKAM       78.92           12334076046                     N/A
23    ALB      195.06           22900553190                     N/A
24   ALGN      302.78           23167802424                     N/A
25    ALK       43.89            5615291012                     N/A
26    ALL     118.385           31126923774                     N/A
27   ALLE      107.85            9485048899                     N/A
28   ALXN        None           40336009475                     N/A
29   AMAT      113.85           96216732914                     N/A
30   AMCR      10.315           15170585588                     N/A
31    AMD       95.07          153097102981                     N/A
32    AME     144.465           33282921321                     N/A
33   AMGN     234.465          125280884862                     N/A
34    AMP      293.54           30575431903                     N/A
35    AMT      193.56           90188686644                     N/A
36   AMZN      106.64         1094164117288                     N/A
37   ANET     138.535           42703333317                     N/A
38   ANSS      293.73           25455034811                     N/A
39   ANTM        None          116342693132                     N/A
40    AON      330.86           68405907884                     N/A
41    AOS       69.34           10590399532                     N/A
42    APA       33.16           10233147184                     N/A
43    APD      279.94           62169873309                     N/A
44    APH      75.185           44762039069                     N/A
45   APTV       93.38           25257182381                     N/A
46    ARE      121.29           20974441516                     N/A
47    ATO      118.47           17121745761                     N/A
48   ATVI       75.53           59238179000                     N/A
49    AVB      179.29           25463272874                     N/A

In [12]:
# Function sourced from
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [19]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#    print(symbol_strings[i])
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings[:1]:
    batch_api_call_url = f'https://cloud.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        print(symbol)

A
AAL
AAP
AAPL
ABBV
ABC
ABMD
ABT
ACN
ADBE
ADI
ADM
ADP
ADSK
AEE
AEP
AES
AFL
AIG
AIV
AIZ
AJG
AKAM
ALB
ALGN
ALK
ALL
ALLE
ALXN
AMAT
AMCR
AMD
AME
AMGN
AMP
AMT
AMZN
ANET
ANSS
ANTM
AON
AOS
APA
APD
APH
APTV
ARE
ATO
ATVI
AVB
AVGO
AVY
AWK
AXP
AZO
BA
BAC
BAX
BBY
BDX
BEN
BF.B
BIIB
BIO
BK
BKNG
BKR
BLK
BLL
BMY
BR
BRK.B
BSX
BWA
BXP
C
CAG
CAH
CARR
CAT
CB
CBOE
CBRE
CCI
CCL
CDNS
CDW
CE
CERN
CF
CFG
CHD
CHRW
CHTR
CI
CINF
CL
CLX
CMA
CMCSA